* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    margin-bottom: 20px;
}

.fa-solid{
    display: none;
}
i{
    font-weight: bolder;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 8vh;
    width: 70%;
}

.container:hover>.accordion>.accordion-header {
    color: black;
}

.container:hover>.accordion>.accordion-header>.fa-solid {
    display: inline;
    font-size: x-large;
    font-weight: bold;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
    color: rgb(51, 120, 177);
}

.accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    margin: 10px auto;
}

.meme-img {
    width: 50%;

}

input[type="radio"] {
    display: none;
}

.accordion:hover>.accordion-body {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    height: 400px;
}

.accordion:hover> .accordion-header>i {
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
}

.accordion:active> .accordion-header> *{
    color: rgb(51, 120, 177);
}

.accordion-btn:checked+.accordion-header {
    color: black;
}

.accordion-btn:checked+.accordion-header>i {
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
}

.accordion-btn:checked~.accordion-body {
    height: 400px;
}

@media only screen and (max-width: 320px) {
    .main-title {
        margin-bottom: 5px;
        font-size: x-large;
    }
    .container {
        margin-top: 3vh;
        width: 90%;
    }

    .accordion-header>h2{
        font-size: larger;
    }
    .accordion-header{
        margin: 5px auto;
    }

    .accordion-body {
        margin: 5px auto;
    }
    .meme-img {
        width: 100%;
    }

    .fa-solid{
        font-size: larger;
        font-weight: bold;
    }


}


@media only screen and (max-width: 820px) {
    .main-title {
        margin-bottom: 10px;
    }
    .container {
        margin-top: 5vh;
        width: 80%;
    }

    .accordion-header>h2{
        font-size: x-large;
    }
    .accordion-header{
        margin: 5px auto;
    }

    .accordion-body {
        padding: 0;
        margin: 0;
    }
    .meme-img {
        width: 70%;
        
    }
    .fa-solid{
        font-size: x-large;
        font-weight: bold;
    }
  

}


@media only screen and (min-width: 1920px) {
    .main-title {
        margin-bottom: 15px;
        font-size: 45px;
    }
 
    .accordion-header>h2{
        font-size: 35px;
    }
    .accordion-header{
        margin: 10px auto;
    }

    .accordion-body {
        padding: 0;
        margin: 15px;
    }
    .meme-img {
        width: 40%;
    }
    .fa-solid{
        font-size: xx-large;
        font-weight: bold;
    }
  

}